<div class="hero-image">
    <div class="hero-text" style="align-content: center;">
       <h1 id="hero-text-1" style="text-align:center; color: rgb(197, 195, 198);"> Tech Blog!</h1>
       <h3 id="hero-text-2" style="text-align:center; color: rgb(197, 195, 198);">Technological Communications. Techie to Techie</h3>
    </div>
</div>