<div class="hero-image">
    <div class="container" style="align-content: center; text-align:center; padding-top: 5vh">
        <h1 class="pageFont">Welcome!</h1>
        <h2 class="pageFont">Please Sign In...</h2>
    <form class="login-form" style="padding-top: 5vh">
        <label for="formEmail" class="pageFont">Email</label><br>
        <input type="text" id="formEmail" name="Email" placeholder="Your Email"><br>
        <label for="formPassword" class="pageFont">Password</label><br>
        <input type="password" id="formPassword" name="Password" placeholder="Your Password"><br><br>
        <input type="submit" value="Submit">
        <button id="signUp">Sign Up Here!</button>
    </form>
    </div>
</div>
<script src="/js/login.js"></script>