<div class="hero-image">
    <div class="container" style="align-content: center; text-align:center; padding-top: 5vh">
        <h1 class="pageFont">Welcome!</h1>
        <h2 class="pageFont">Please Enter Information to join!</h2>
    <form class="signUp-form" style="padding-top: 5vh">
        <label for="formUsername" class="pageFont">Username</label><br>
        <input type="text" name="Username" placeholder="Username" id="formUsername"><br>
        <label for="formEmail" class="pageFont">Email</label><br>
        <input type="text" id="formEmail" name="Email" placeholder="Your Email"><br>
        <label for="formPassword" class="pageFont">Password</label><br>
        <input type="password" id="formPassword" name="Password" placeholder="Super secret password!"><br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
<script src="/js/signUp.js"></script>